<!DOCTYPE html>
<html>
<%- include('partials/_head'); %>

    <body>

        <p>Error while loading page:
            <b>
                <%= errorcode %>
            </b>
            <br>
            <br>
            Requested URL:
            <b>
                <%=url%>
            </b>
        </p>
    </body>

</html>