<!DOCTYPE html>
<html>
<%- include('partials/_head'); %>

    <body>
        <h1>Welcome ENDUSER</h1>
        <p>Pictures comming soon</p>
        <a href="/admin/login">login
        </a>
        <%- include('partials/_footer'); %>
    </body>

</html>